:root {
    --close-icon: url(./images/close.svg);
    
    --standard-box-shadow: rgb(156, 156, 156) 1px 1px 5px;

    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.main-content {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    height: 100vh;
    padding: 0px 10px 10px 10px;
}

.library-container {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-auto-rows: max-content;
    gap: 20px;
}

.card {
    display: grid;
    grid-template-rows: max-content 1fr 3fr max-content;
    grid-template-columns: 1fr max-content;
    gap: 10px;
    
    height: 250px;
    padding: 20px;
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: goldenrod;
    border-radius: 10px;
    box-shadow: var(--standard-box-shadow);
}

button.icon {
    background-repeat: no-repeat;
    border-style: none;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.icon.close {
    background-image: var(--close-icon);
}

button.icon:hover,
.card-additional-info .read-status:hover {
    background-color: lightgray;
}

button.icon:active,
.card-additional-info .read-status:active {
    background-color: darkgray;
}

.card-title {
    font-size: 1.4rem;
    font-weight: 700;
}

.card-author {
    grid-column: 1 / -1;

    font-size: 1.2rem;
    font-style: italic;
}

.card-description {
    grid-column: 1 / -1;

    font-size: 1rem;
    font-style: italic;
}

.card-additional-info {
    grid-column: 1 / -1;
    
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 1rem;
}

.card-additional-info .page-count {
    flex: 1
}

.card-additional-info .read-status {
    border-style: none;
    background-color: white;
    border-radius: 15px;
    font-size: 1rem;
    padding: 5px 10px;
}

button {
    cursor: pointer;
}

.dialog-container {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    gap: 20px;
}

.dialog-title {
    font-size: 1.4rem;
    font-weight: 700;
}

#form-new-book {
    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

fieldset.basic-information {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 20px;
}

fieldset.have-read {
    display: flex;
    flex-direction: column;
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label div {
    padding-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    padding: 10px 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 1rem;
    width: 300px;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
    border-color: goldenrod;
    outline: none;
}

textarea {
    resize: none;
    font-family: inherit;
}

fieldset {
    padding: 15px;
}

legend {
    font-size: 1.3rem;
}

#form-new-book button.submit,
button.open-dialog {
    align-self: center;

    background-color: goldenrod;
    color: white;
    font-size: 1.4rem;
    box-sizing: border-box;
    border-style: none;
    border-radius: 20px;
    padding: 5px 30px;
}

.form-column .description-label {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.form-column .description-label textarea {
    flex: 1;
}