:root {
    --standard-box-shadow: rgb(156, 156, 156) 1px 1px 5px;

    font-family: 'Roboto', sans-serif;
}

.library-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
}

.card {
    display: grid;
    grid-template-rows: max-content 1fr 3fr max-content;
    gap: 10px;
    
    height: 250px;
    padding: 20px;
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: goldenrod;
    border-radius: 10px;
    box-shadow: var(--standard-box-shadow);
}

.card-title {
    font-size: 1.4rem;
    font-weight: 700;
}

.card-author {
    font-size: 1.2rem;
    font-style: italic;
}

.card-description {
    font-size: 1rem;
    font-style: italic;
}

.card-additional-info {
    display: flex;
    gap: 20px;

    font-size: 1rem;
}

.card-additional-info .page-count {
    flex: 1
}